.flex-item {
  margin: 5px;
  padding: 15px;
  color: black;
  font-family: monospace;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  flex: 1 0 auto;
  height: auto;

  border: 2px solid rgb(96, 139, 168);
  border-radius: 5px;
  background-color: rgba(96, 139, 168, 0.2);
}

.flex-item::before {
  content: '';
  float: left;
  padding-top: 100%;
}

.hover {
  font-size: xxx-large;
  padding-left: 10px;
  padding-right: 10px;
}

.clicked {
  @extend .hover;
  background-color: chocolate;
}